body {
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
    color: #333;
}

/* Center the header */
header {
    text-align: center;
}

/* Center Projects section */
#projects{
    text-align: center;
    h2 {
        margin-bottom: 5px;
    }
}

/* Center and style Meow Meow Mocha section */
#meow-meow-mocha {
    text-align: center;
    background-color: #dcbf9d;
    padding: 10px;
}

.meow-button {
    background-color: #ffffff14;
    color: #070606;
    border: 2px solid #7c501e;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.meow-button:hover {
    background-color: #c9a882;
}

#mmm-pages {
    padding-top: 30px;
}

#about {
    text-align: center;
}

#about ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    list-style: none;
    margin-top: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#about li {
    background-color: #18065d;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: 1.05em;
    font-weight: 500;
    transition: all 0.2s ease;
}

#about li:hover {
    background-color: #34495e;
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Center socials section */
#socials {
    text-align: center;
    h2 {
        margin-bottom: 5px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.8;
}