/* Center the header */
header {
    text-align: center;
}

/* Center Projects section */
#projects{
    text-align: center;
    h2 {
        margin-bottom: 5px;
    }
}

/* Center and style Meow Meow Mocha section */
#meow-meow-mocha {
    text-align: center;
    background-color: #dcbf9d;
    padding: 10px;
}

.meow-button {
    background-color: #ffffff14;
    color: #070606;
    border: 2px solid #7c501e;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.meow-button:hover {
    background-color: #c9a882;
}

#mmm-pages {
    padding-top: 30px;
}

#about {
    text-align: center;
    h2 {
        margin-bottom: 5px;
    }
    h3 {
        margin-bottom: 0px;
    }
    ul {
        display: inline-block;
        text-align: left;
        padding-left: 0;
        list-style: none;
    }
}

/* Center socials section */
#socials {
    text-align: center;
    h2 {
        margin-bottom: 5px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.8;
}